<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<add key="db" value="mssql"></add>
	</appSettings>
	<connectionStrings>
		<add name="postgres" connectionString="User ID=postgres;Password=ssl-2000;Host=172.18.0.2;Port=5432;Database=docker;Pooling=true;Connection Lifetime=120;"/>
		<add name="mssql" connectionString="Server=mssql,1433;Database=docker;User Id=sa;Password=ssl-2000;TrustServerCertificate=True"/>
	
	</connectionStrings>
</configuration>